<!doctype html>
<html>
<head></head>
<body>
    <label>Name: </label>
    <input id="name" type="text" name="name"/>
    <br />
    <label>Password: </label>
    <input id="password" type="password" name="password" />
    <br />
    <button id="submit">Submit</button>
    <hr />
    <p>"username":"angrymeercat748",</p><p>"password":"baltimor"</p>
    <script type="text/javascript" src="../js/submit.js" />

    </body>
</html>